.Listen {
  padding: 10px;
 
  section {
    display: grid;
    grid-template-areas: 'logo logo'
    'listen pic1'
    'name pic2';
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    height: $pageHeight;
    overflow: scroll;
    
    h1 {
      color: $transparentLightAccent;
      font-size: $nameSize;
      grid-area: name;
      margin: 0;
      text-transform: uppercase;
    }
  
    .listen-column {
      display: flex;
      flex-direction: column;
      grid-area: listen;
      justify-content: space-around;
      margin: 1rem auto;
      text-align: center;
      width: 100%;
    }
  
    .listen-row {
      display: flex;
      justify-content: space-around;
  
      .listen-logo {
        margin: 1rem 0;
        width: 4rem;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .navlink {
      grid-area: logo;
      margin: auto;
      
      .logo {
        width: $logoWidth;
      }
    }
  
    .align-right {
      display: flex;
      justify-content: flex-end;

      .pic1 {
        grid-area: pic1;
        height: 100%;
        margin-bottom: 1rem;
      }
      
      .pic2 {
        height: 100%;
        grid-area: pic2;
        margin-top: 1rem;
      }
    }
  }
}