.Shows {
  padding: 10px;

  section {
    display: grid;
    grid-template-areas: 'shows pic1'
    'name pic2';
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 40%;
    height: $pageHeight;
  
    h1 {
      color: $transparentMedAccent;
      font-size: $nameSize;
      grid-area: name;
      margin: 0;
      text-transform: uppercase;
    }

    .logo {
      width: $logoWidth;
    }

    .pic1 {
      grid-area: pic1;
      height: 100%;
      margin-bottom: 1rem;
    }

    .pic2 {
      grid-area: pic2;
      height: 100%;
      margin-top: 1rem;
    }

    .right-align {
      display: flex;
      justify-content: flex-end;
      height: 100%;
    }
  
    .show-info {
      color: $fontColor;
      grid-area: shows;
      margin: 0 auto;
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $medAccent;
      }
    }
  }
}