// fonts
$bodyfont: 'Lexend Deca', sans-serif;

// animations


// colors

$background: hsl(0, 0%, 11%);
$fontColor: hsl(0, 0%, 67%);
$transparentFontColor: hsla(0, 0%, 67%, .2);
$transparentLightAccent: hsla(35, 41%, 73%, .2);
$lightAccent: hsl(35, 41%, 73%);
$transparentMedAccent: hsla(195, 50%, 32%, .2);
$medAccent: hsl(195, 50%, 32%);
$transparentDarkAccent: hsla(0, 55%, 15%, .2);
$darkAccent: hsl(0, 55%, 15%);