.Nav {
  display: flex;
  justify-content: space-around;
  
  .navlink {
    color: $fontColor;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;


    &:visited {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-line: 2px;
      color: white;
    }
  }

  h1 {
    font-size: $nameSize;
  }
}